
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /visits/{visitId} {
      allow create: if true; 
      allow read, list: if isSignedIn(); 
    }

    match /checkoutClicks/{clickId} {
      allow create: if true;
      allow read, list: if isSignedIn();
    }

    match /purchases/{purchaseId} {
      allow create: if true;
      allow get: if true; 
      // Permitimos update para que o webhook da IronPay e o modal de confirmação possam atualizar o status para 'paid'
      allow update: if true;
      allow list, delete: if isSignedIn(); 
    }

    match /configs/{configId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /users/{userId} {
      allow get, list, create, update, delete: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
